.aside-container {
    background-color: $light;
    .aside-fixed {
        position: fixed;
        overflow-y: scroll;
        height: calc(100vh - 50px);
        left: 0px;
        width: inherit;
        max-width: inherit;
    }
    .aside {
        // position: fixed;
        .list-group-item {
            background: none;
            background-color: none !important;
            border: none;
            padding: 0px;
            &.active {
                color: $bg;
            }
        }
    }
}

// Set top 0 for create aside sticky
.aside-sticky {
    top: 0px !important;
    height: 100vh !important;
}
