.aside {
    min-height: 200px;
    max-height: 600px;
    overflow-y: scroll;
    padding: 10px;
    position: fixed;
    // width: 300px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
    .list-group-item {
        background-color: none;
        border: none;
        padding: 0px;

    }
    @media (max-width: 1200px) {
        width: 250px;
    }
}
