.aside-container {
    // background-color: $light;
    .aside-fixed {
        position: fixed;
        overflow-y: scroll;
        // overflow-x: hidden;
        height: calc(100vh - 243px);
        left: 0px;
        top: 241px;
        width: inherit;
        max-width: inherit;
        display: flex;
        justify-content: flex-end;
    }
    .aside {
        .list-group-item {
            background: none;
            background-color: none !important;
            border: none;
            padding: 0px;
            &.active {
                color: $color-primary;
            }
        }
    }

    .aside-fixed {
        // background-color: $light;
    }
}

// Set top 0 for create aside sticky
.aside-sticky {
    top: 0px !important;
    height: 100vh !important;
}
