.card {
    background-color: $light;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

.display-card {
    display: block;
}

.hide-card {
    display: none;
}

.show-important-card {
    display: block !important;
}
