.debug {
    outline: 1px solid red;
}

.debug-white {
    outline: 1px solid white;
}

.debug-orange {
    outline: 1px solid orange;
}

.debug-red {
    outline: 1px solid red;
}

.debug-blue {
    outline: 1px solid blue;
}

.debug-green {
    outline: 1px solid green;
}
