// TODO: Remove debug file
@import 'debug';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'scrollbar';

// Components
@import 'menu';

@import 'aside';

body {
    background-color: $page-bg;
}

// syntax highlight theme
pre {
    background-color: #2d2d2d;
    padding: 14px;
}
pre>code {
    color: white;
}
@import "./../../node_modules/prismjs/themes/prism-tomorrow.css";

// Global classes
.layout-container {
    min-height: calc(100vh - 50px)
}

.cursor {
    &-pointer {
        cursor: pointer;
    }
}


.card-show {
    background-color: $light;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}
