// @import 'variables';
@import 'fonts';
// @import 'code_gradient_dark';
@import 'code_shades_of_purple';

body {
    background-color: #f8fafc;
    font-family: var(--sl-font-sans);
    line-height: var(--sl-line-height-normal);
}

h1 {
    font-family: $font-family-head;
    font-size: var(--sl-font-size-xx-large);
    color: var(--sl-color-primary-300);
}

h1 a {
    color: var(--sl-color-primary-500);
    text-decoration: none;
}

h1 a:hover {
    color: var(--sl-color-primary-700);
    text-decoration: underline;
}

p > code {
    color: #000;
    background: linear-gradient(var(--sl-color-warning-100), var(--sl-color-warning-200));
    font-family: $font-family-mono;
    letter-spacing: 0.2px;
    text-shadow: 0 1px #fff;
    padding: 0.25em;
    overflow: auto;
    border-radius: var(--sl-border-radius-medium);
}
